<main>
  <h1>Reactive Forms Example (Angular 10)</h1>
  <div>
    <form [formGroup]="feedbackForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label for="email">
          <span>Enter email: </span> <br>
          <input formControlName="email" type="email" id="email">
          <span *ngIf="feedbackForm.get('email').touched" style="padding-left: 10px;">
            <span *ngIf="feedbackForm.get('email').hasError('required')">{{ required }}</span>
            <span *ngIf="feedbackForm.get('email').hasError('email')">invalid email address</span>
          </span>
        </label>
      </div>  
      <div class="input-container">
        <label for="message">
          <span>Enter message: </span> <br>
          <input formControlName="message" type="text" id="message">
          <span style="padding-left: 10px;" *ngIf="feedbackForm.get('message').touched && feedbackForm.get('message').hasError('required')">{{ required }}</span>
        </label>
      </div>
      <div formGroupName="phone">
        <div class="input-container">
          <label for="home-number">
            <span>Enter home number: </span> <br>
            <input formControlName="home" type="text" id="home-number">
          </label>
        </div>
        <div class="input-container">
          <label for="work-number">
            <span>Enter work number: </span> <br>
            <input formControlName="work" type="text" id="work-number">
          </label>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <button type="reset" (click)="feedbackForm.reset()">Reset</button>
        <button type="submit" [disabled]="!feedbackForm.valid">Submit</button>
      </div>
    </form>
    <div *ngIf="result">
      <div>
        <p>Email: {{ email }}</p>
        <p>Message: {{ message }}</p>
        <p>Home number: {{ home }}</p>
        <p>Work number: {{ work }}</p>
      </div>
    </div>
  </div>
</main>
